.pokemon-logo {
  &__pogo {
    color: #ffcb08;
    vertical-align: top;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1px;
  }

  &__guide {
    color: #0c4da2;
    vertical-align: top;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 5px;
    background-image: -webkit-image-set(url(https://poke.gishan.cc/static/i/logo.webp) 1x,url(https://poke.gishan.cc/static/i/logo.webp) 2x);
  }
}